@charset "UTF-8";

@media screen and (min-width: 768px) { /* Tablets */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 80vw;
    }

    section#login div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section#login div#formulario {
        /* float: right; */
        width: 65%;
    }

    div#formulario h1 {
        font-size: 2em;
    }

    div#formulario p {
        font-size: 1.2em;
    }

    form input[type=submit] {
        float: right;
        width: 70%;
    }

    form a.botao {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /* Desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 990px;
    }

    section#login div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login div#formulario {
        /* float: left; */
        width: 50%;
    }

    div#formulario h1 {
        font-size: 2em;
    }

    div#formulario p {
        font-size: 1.2em;
    }

    form input[type=submit] {
        width: 50%;
    }

    form a.botao {
        width: 50%;
    }
}